@inherits LayoutComponentBase;


<div class="admin-page d-flex">
    <div class="nav-main-admin sidebar">
        <NavAdmin></NavAdmin>
    </div>
    <div class="body">
        @Body
    </div>
</div>





