/* /Component/BoxTextEditor.razor.rz.scp.css */
/*SET THE DEFAULT FONT*/
#TestId[b-brko2uthui] {
    font-family: "MS Gothic";
    font-size: 18px;
    height: 375px;
}

/*DEFINE ALL OF THE CUSTOM FONTS*/
.ql-font-MSGothic[b-brko2uthui] {
    font-family: 'MS Gothic';
}

.ql-font-Bahnschrift[b-brko2uthui] {
    font-family: 'Bahnschrift'
}

.ql-font-Impact[b-brko2uthui] {
    font-family: 'Impact';
}

.ql-font-Courier[b-brko2uthui] {
    font-family: 'Courier';
}

.ql-font-Comic[b-brko2uthui] {
    font-family: 'Comic Sans MS';
}

.layout-text-editor[b-brko2uthui] {
    height: 500px;
}

.input-layout[b-brko2uthui] {
    outline: none;
    border: 2px solid #1570EF;
    border-radius: 12px;
    margin: 3px;
    padding: 2px;
    height: 30px;
}

.form[b-brko2uthui] {
    border: 2px solid #1570EF;
    border-radius: 12px;
    padding: 12px;
}
/* /Component/LoadingBar.razor.rz.scp.css */
.spinner[b-0z84csx8x2] {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin-b-0z84csx8x2 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin-b-0z84csx8x2 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
/* /Layout/AdminLayout/AdminLayout.razor.rz.scp.css */
.sidebar[b-h8q3btiy7b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.nav-main-admin[b-h8q3btiy7b] {
    width: 15%;
}

.body[b-h8q3btiy7b] {
    width: 85%;
}


/* /Layout/AdminLayout/NavAdmin.razor.rz.scp.css */
.sidebar[b-2nnz7neu4n] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    height: 100vh;
}

a[b-2nnz7neu4n] {
    text-decoration: none;
    color: #000000;
}

.navbar-toggler[b-2nnz7neu4n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2nnz7neu4n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2nnz7neu4n] {
    font-size: 1.1rem;
}

.bi[b-2nnz7neu4n] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-2nnz7neu4n] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-2nnz7neu4n] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-2nnz7neu4n] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-2nnz7neu4n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2nnz7neu4n] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2nnz7neu4n] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2nnz7neu4n]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-2nnz7neu4n]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-2nnz7neu4n]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2nnz7neu4n] {
        display: none;
    }

    .collapse[b-2nnz7neu4n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-2nnz7neu4n] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Layout/Footer.razor.rz.scp.css */
.footer[b-b1ioa2uj92] {
    bottom: 0;
}
/* /Layout/Header.razor.rz.scp.css */
a[b-5swpb2a07p] {
    text-decoration: none;
    color: #000000;
}

.nav-test[b-5swpb2a07p] {
    /*  border: 1px solid #ff0000;*/
    background-color: #FFFFFF;
}

/*Color*/
.blue[b-5swpb2a07p] {
    background-color: #1570EF;
}

.red[b-5swpb2a07p] {
    background-color: #ff0000;
}

.input-search[b-5swpb2a07p] {
    padding: 5px 5px 5px 10px;
    width: 382px;
    height: 33px;
    margin-left: 47px;
    font-size: 15px;
    background-color: #E5E6ED;
    border-radius: 50px;
    border: none;
    outline: none;
}

#img-logo[b-5swpb2a07p] {
    width: 51px;
    height: 48px;
    padding-bottom: 5px;
}

.logo-text a[b-5swpb2a07p] {
    font-size: 30px;
    font-weight: bold;
    font-family: Agbalumo;
    color: #3D3C42;
    text-decoration: none;
}

.menu-link[b-5swpb2a07p] {
    margin-top: 80px;
    margin-left: 120px;
}

.menu-link a[b-5swpb2a07p] {
    color: black;
    font-family: REM;
}

.menu-link p[b-5swpb2a07p] {
    font-size: 18px;    
}

/*Btn*/
.btn-write[b-5swpb2a07p] {
    font-size: 14px;
    padding: 8.5px 12px;
    border-radius: 20px;
    color: #fff;
    background-color: #1570EF;
}

.color-btn[b-5swpb2a07p] {
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    background: linear-gradient(to right, #FF5733, #33FF57, #5733FF, #FF5733, #33FF57, #5733FF, #FF5733);
    background-size: 1400% 100%; /* Đặt kích thước lớn hơn để có chỗ di chuyển */
}

    .color-btn:hover[b-5swpb2a07p] {
        background-position: 100% 0;
        transition: background-position 1s ease;
        animation: colorChange-b-5swpb2a07p 3s infinite; /* Thêm animation cho hiệu ứng liên tục */
    }

@keyframes colorChange-b-5swpb2a07p {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


/* /Layout/MainLayout.razor.rz.scp.css */
.main-layout[b-687od6cswe] {
    position: relative;
}

.snow[b-687od6cswe], .snow[b-687od6cswe]::after, .snow[b-687od6cswe]::before {
    position: absolute;
    top:-650px;
    left:0;
    right:0;
    bottom:0;
    background-image:
        radial-gradient(4px 4px at 100px 50px, #fff, transparent),
        radial-gradient(6px 6px at 200px 150px, #fff, transparent),
        radial-gradient(3px 3px at 300px 250px, #fff, transparent),
        radial-gradient(3px 3px at 300px 250px, #fff, transparent),
        radial-gradient(4px 4px at 400px 350px, #fff, transparent),
        radial-gradient(6px 6px at 500px 100px, #fff, transparent),
        radial-gradient(3px 3px at 50px 200px, #fff, transparent),
        radial-gradient(4px 4px at 150px 300px, #fff, transparent),
        radial-gradient(6px 6px at 250px 400px, #fff, transparent),
        radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;
    animation: snowAnim-b-687od6cswe 3s linear;
    animation-iteration-count: infinite;
    pointer-events: none;
}

    .snow[b-687od6cswe]::after {
        margin-left: -250px;
        opacity: 0.5;
        filter: blur(2px);
        animation-direction: reverse;
        animation-duration: 6s;
    }

    .snow[b-687od6cswe]::before {
        margin-left: -350px;
        opacity: 0.7;
        filter: blur(1px);
    }

    @keyframes snowAnim-b-687od6cswe {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(650px);
        }
    }

    .page[b-687od6cswe] {
        position: relative;
        display: flex;
        flex-direction: column;
    }

main[b-687od6cswe] {
    flex: 1;
}

.sidebar[b-687od6cswe] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-687od6cswe] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-687od6cswe]  a, .top-row[b-687od6cswe]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-687od6cswe]  a:hover, .top-row[b-687od6cswe]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-687od6cswe]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-687od6cswe] {
        justify-content: space-between;
    }

    .top-row[b-687od6cswe]  a, .top-row[b-687od6cswe]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-687od6cswe] {
        flex-direction: row;
    }

    .sidebar[b-687od6cswe] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-687od6cswe] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-687od6cswe]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-687od6cswe], article[b-687od6cswe] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.cay-thong[b-687od6cswe] {
    position: fixed;
    margin-top: 440px;
}

.cay-thong-img[b-687od6cswe] {
    width: 150px;
    height: 200px;
}
/* /Layout/NavMenu.razor.rz.scp.css */
a[b-psknuevzuo] {
    text-decoration: none;
    color: #000000;
}

.navbar-toggler[b-psknuevzuo] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-psknuevzuo] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-psknuevzuo] {
    font-size: 1.1rem;
}

.bi[b-psknuevzuo] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-psknuevzuo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-psknuevzuo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-psknuevzuo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-psknuevzuo] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-psknuevzuo] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-psknuevzuo] {
        padding-bottom: 1rem;
    }

    .nav-item[b-psknuevzuo]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-psknuevzuo]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-psknuevzuo]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-psknuevzuo] {
        display: none;
    }

    .collapse[b-psknuevzuo] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-psknuevzuo] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Admin/Home.razor.rz.scp.css */
.home[b-7njvdql91s] {
    border: 1px solid #ff0000;
    height: 500px;
}
/* /Pages/Admin/UserManager.razor.rz.scp.css */
html[b-vspxdysga4],
body[b-vspxdysga4],
.intro[b-vspxdysga4] {
    height: 100%;
}

table td[b-vspxdysga4],
table th[b-vspxdysga4] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card[b-vspxdysga4] {
    border-radius: .5rem;
}

.mask-custom[b-vspxdysga4] {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
/* /Pages/Authentication/Login.razor.rz.scp.css */
/*.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}*/

.h-custom[b-d5seq0j47v] {
    /*height: calc(100% - 73px);*/
    margin-top: 10px;
}

/*@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
*/
/* /Pages/Authentication/Register.razor.rz.scp.css */
body[b-k5hfqs12ar] {
    background-color: #f8f9fa;
}

.login-container[b-k5hfqs12ar] {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.login-form[b-k5hfqs12ar] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .login-form h2[b-k5hfqs12ar] {
        color: #1570EF;
    }

    .login-form .form-control[b-k5hfqs12ar] {
        border-color: #1570EF;
    }

    .login-form .btn-primary[b-k5hfqs12ar] {
        background-color: #1570EF;
        border-color: #1570EF;
    }

        .login-form .btn-primary:hover[b-k5hfqs12ar] {
            background-color: #135cb2;
            border-color: #135cb2;
        }
/* /Pages/Blog/BlogChild/BlogChild.razor.rz.scp.css */
/*Danh sách tin tức và bài viết*/
.list-news[b-aajxn699sn] {
    /*border: 1px solid #ff00dc;*/
    width: 100%;
    height: 500px;
}

.layout-list-news[b-aajxn699sn] {
    max-width: 260px;
    max-height: 150px;
    overflow: hidden;
}

.img-list-news[b-aajxn699sn] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

/* /Pages/Blog/BlogGame.razor.rz.scp.css */
.blog-main[b-1pqexut77p] {
    /*border: 1px solid #ff0000;*/
}

.blog-list[b-1pqexut77p] {
    width: 67%;
}

/*Phần banner*/
.banner-tech[b-1pqexut77p] {
    /*border: 1px solid #000000;*/
    max-width: 100%;
    max-height: 280px;
    overflow: hidden;
    border-radius: 15px;
}

.banner-tech-img[b-1pqexut77p] {
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

.menu-child-a[b-1pqexut77p] {
    color: #ff0000;
}

    .menu-child-a:hover[b-1pqexut77p] {
        color: #1570EF;
    }

/*Danh sách tin tức và bài viết*/
.list-news[b-1pqexut77p] {
    /*border: 1px solid #ff00dc;*/
    width: 100%;
    height: 500px;
}

.layout-list-news[b-1pqexut77p] {
    max-width: 260px;
    max-height: 150px;
    overflow: hidden;
}

.img-list-news[b-1pqexut77p] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

/*Top Bài Viết*/
.blog-popular[b-1pqexut77p] {
    /*border: 1px solid #ff6a00;*/
    margin-left: 890px;
    bottom: -145px;
    width: 25%;
    height: 800px;
}

.news-small[b-1pqexut77p] {
    /*border: 1px solid #b6ff00;*/ /*xanh lá*/
    padding-left: 10px;
    width: 100%;
    height: 750px;
}

.layout-index-post[b-1pqexut77p] {
    max-width: 30px;
    max-height: 20px;
    overflow: hidden;
}

.title-flash[b-1pqexut77p] {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.layout-index-post[b-1pqexut77p] {
    text-align: center;
    overflow: hidden;
    max-width: 40px;
    width: 40px;
    max-height: 40px;
    height: 40px;
    background-color: #1570EF;
    border-radius: 10px;
}

.index-post[b-1pqexut77p] {
    font-size: 28px;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
/* /Pages/Blog/BlogIT.razor.rz.scp.css */
.blog-main[b-imzvi9asn0] {
    /*border: 1px solid #ff0000;*/
}

.blog-list[b-imzvi9asn0] {
    width: 67%;
}

/*Phần banner*/
.banner-tech[b-imzvi9asn0] {
    /*border: 1px solid #000000;*/
    max-width: 100%;
    max-height: 280px;
    overflow: hidden;
    border-radius: 15px;
}

.banner-tech-img[b-imzvi9asn0] {
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

.menu-child-a[b-imzvi9asn0] {
    color: #ff0000;
}

.menu-child-a:hover[b-imzvi9asn0] {
    color: #1570EF;
}

/*Danh sách tin tức và bài viết*/
.list-news[b-imzvi9asn0] {
    /*border: 1px solid #ff00dc;*/
    width: 100%;
    height: 500px;
}

.layout-list-news[b-imzvi9asn0] {
    max-width: 260px;
    max-height: 150px;
    overflow: hidden;
}

.img-list-news[b-imzvi9asn0] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

/*Top Bài Viết*/
.blog-popular[b-imzvi9asn0] {
    /*border: 1px solid #ff6a00;*/
    margin-left: 890px;
    bottom: -145px;
    width: 25%;
    height: 800px;
}

.news-small[b-imzvi9asn0] {
    /*border: 1px solid #b6ff00;*/ /*xanh lá*/
    padding-left: 10px;
    width: 100%;
    height: 750px;
}

.layout-index-post[b-imzvi9asn0] {
    max-width: 30px;
    max-height: 20px;
    overflow: hidden;
}

.title-flash[b-imzvi9asn0] {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.layout-index-post[b-imzvi9asn0] {
    text-align: center;
    overflow: hidden;
    max-width: 40px;
    width: 40px;
    max-height: 40px;
    height: 40px;
    background-color: #1570EF;
    border-radius: 10px;
}

.index-post[b-imzvi9asn0] {
    font-size: 28px;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
/* /Pages/Blog/BlogPersonal.razor.rz.scp.css */
.blog-main[b-jik2sbxz9a] {
    /*border: 1px solid #ff0000;*/
}

.blog-list[b-jik2sbxz9a] {
    width: 67%;
}

/*Phần banner*/
.banner-tech[b-jik2sbxz9a] {
    /*border: 1px solid #000000;*/
    max-width: 100%;
    max-height: 280px;
    overflow: hidden;
    border-radius: 15px;
}

.banner-tech-img[b-jik2sbxz9a] {
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

.menu-child-a[b-jik2sbxz9a] {
    color: #ff0000;
}

.menu-child-a:hover[b-jik2sbxz9a] {
    color: #1570EF;
}

/*Danh sách tin tức và bài viết*/
.list-news[b-jik2sbxz9a] {
    /*border: 1px solid #ff00dc;*/
    width: 100%;
    height: 500px;
}

.layout-list-news[b-jik2sbxz9a] {
    max-width: 260px;
    max-height: 150px;
    overflow: hidden;
}

.img-list-news[b-jik2sbxz9a] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

/*Top Bài Viết*/
.blog-popular[b-jik2sbxz9a] {
    /*border: 1px solid #ff6a00;*/
    margin-left: 890px;
    bottom: -145px;
    width: 25%;
    height: 800px;
}

.news-small[b-jik2sbxz9a] {
    /*border: 1px solid #b6ff00;*/ /*xanh lá*/
    padding-left: 10px;
    width: 100%;
    height: 750px;
}

.layout-index-post[b-jik2sbxz9a] {
    max-width: 30px;
    max-height: 20px;
    overflow: hidden;
}

.title-flash[b-jik2sbxz9a] {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.layout-index-post[b-jik2sbxz9a] {
    text-align: center;
    overflow: hidden;
    max-width: 40px;
    width: 40px;
    max-height: 40px;
    height: 40px;
    background-color: #1570EF;
    border-radius: 10px;
}

.index-post[b-jik2sbxz9a] {
    font-size: 28px;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
/* /Pages/Home.razor.rz.scp.css */
.test[b-exiwmkvlsc] {
    /*border: 1px solid #ff00dc;*/
    width: 100%;
    height: 1500px;
}

a:hover[b-exiwmkvlsc] {
    color: #00A9FF !important;
}
no-margin[b-exiwmkvlsc] {
    margin-bottom: 0rem;
}

/*Phần tin chính*/
.title-news[b-exiwmkvlsc] {
    position: relative;
}

.title-news [b-exiwmkvlsc]::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    color: #000000;
}

.news-popular[b-exiwmkvlsc] {
    /*border: 1px solid #ff0000;*/
    width:100%;
    height: 750px;
    
}

.news-big[b-exiwmkvlsc] {
    /*border: 1px solid #000000;*/ 
    width: 70%;
    height: 750px;
}

.news-main[b-exiwmkvlsc] {
    /*border: 1px solid #808080;*/ /*xám*/ 
    width: 65%;
    height: 400px;
}

.news-main-secondary[b-exiwmkvlsc] {
    /*border: 1px solid #ff6a00;*/
    width: 33.3%;
    height: 450px;
}

.news-main-bottom[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    height: 280px;
}

.news-bottom-one[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    width: 33%;
    height: 100%;
}
.news-bottom-two[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    width: 32%;
    height: 100%;
}
.news-bottom-three[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    width: 35.3%;
    height: 100%;
}

.layout-img-news-bottom[b-exiwmkvlsc] {
    max-width: 300px;
    max-height: 170px;
    overflow: hidden;
}

.img-bottom[b-exiwmkvlsc] {
    height: 170px;
}






/*Xem nhanh*/
.news-small[b-exiwmkvlsc] {
    /*border: 1px solid #b6ff00;*/ /*xanh lá*/
    width: 30%;
    height: 750px;
}

.layout-img-flash[b-exiwmkvlsc] {
    max-width: 300px;
    max-height: 100px;
    overflow: hidden;
}

.img-flash[b-exiwmkvlsc] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.title-flash[b-exiwmkvlsc] {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}



/*Danh sách tin tức và bài viết*/
.list-news[b-exiwmkvlsc] {
    /*border: 1px solid #ff00dc;*/
    width: 75%;
    height: 500px;
}

.layout-list-news[b-exiwmkvlsc] {
    max-width: 260px;
    max-height: 150px;
    overflow: hidden;
}

.img-list-news[b-exiwmkvlsc] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
