@page "/blog-game";

<!-- All Stories IT-->
<div class="blog-main d-flex">
    <div class="blog-list">
        <!--Banner-->
        <div class="banner-tech card bg-dark text-white">
            <img src="/images/banner/bannerGame (72 x 25 inch).png" class="banner-tech-img card-img" alt="Công Nghệ">
            <div class="card-img-overlay">
                <h2 class="card-title fw-bold">Game</h2>
                <p class="card-text">Cùng Nhau Khám Phá Về Những Điều Mới Của Công Nghệ Hôm Nay</p>
                <p class="card-text">Last updated 3 mins ago</p>
            </div>
        </div>
        <!--Blog List-->
        <div class="blog-list-detail">
        </div>
    </div>

    <div class="blog-popular">
    </div>
</div>
<!-- End All Stories-->