/*SET THE DEFAULT FONT*/
#TestId {
    font-family: "MS Gothic";
    font-size: 18px;
    height: 375px;
}

/*DEFINE ALL OF THE CUSTOM FONTS*/
.ql-font-MSGothic {
    font-family: 'MS Gothic';
}

.ql-font-Bahnschrift {
    font-family: 'Bahnschrift'
}

.ql-font-Impact {
    font-family: 'Impact';
}

.ql-font-Courier {
    font-family: 'Courier';
}

.ql-font-Comic {
    font-family: 'Comic Sans MS';
}

.layout-text-editor {
    height: 500px;
}

.input-layout {
    outline: none;
    border: 2px solid #0026ff;
    border-radius: 12px;
    margin: 3px;
}

.form {
    border: 2px solid #0094ff;
    border-radius: 12px;
    padding: 12px;
}