.test[b-exiwmkvlsc] {
    /*border: 1px solid #ff00dc;*/
    width: 100%;
    height: 1500px;
}

a:hover[b-exiwmkvlsc] {
    color: #00A9FF !important;
}
no-margin[b-exiwmkvlsc] {
    margin-bottom: 0rem;
}

/*Phần tin chính*/
.title-news[b-exiwmkvlsc] {
    position: relative;
}

.title-news [b-exiwmkvlsc]::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    color: #000000;
}

.news-popular[b-exiwmkvlsc] {
    /*border: 1px solid #ff0000;*/
    width:100%;
    height: 750px;
    
}

.news-big[b-exiwmkvlsc] {
    /*border: 1px solid #000000;*/ 
    width: 70%;
    height: 750px;
}

.news-main[b-exiwmkvlsc] {
    /*border: 1px solid #808080;*/ /*xám*/ 
    width: 65%;
    height: 400px;
}

.news-main-secondary[b-exiwmkvlsc] {
    /*border: 1px solid #ff6a00;*/
    width: 33.3%;
    height: 450px;
}

.news-main-bottom[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    height: 280px;
}

.news-bottom-one[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    width: 33%;
    height: 100%;
}
.news-bottom-two[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    width: 32%;
    height: 100%;
}
.news-bottom-three[b-exiwmkvlsc] {
    /*border: 1px solid #4800ff;*/ /*xanh dương*/
    width: 35.3%;
    height: 100%;
}

.layout-img-news-bottom[b-exiwmkvlsc] {
    max-width: 300px;
    max-height: 170px;
    overflow: hidden;
}

.img-bottom[b-exiwmkvlsc] {
    height: 170px;
}






/*Xem nhanh*/
.news-small[b-exiwmkvlsc] {
    /*border: 1px solid #b6ff00;*/ /*xanh lá*/
    width: 30%;
    height: 750px;
}

.layout-img-flash[b-exiwmkvlsc] {
    max-width: 300px;
    max-height: 100px;
    overflow: hidden;
}

.img-flash[b-exiwmkvlsc] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.title-flash[b-exiwmkvlsc] {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}



/*Danh sách tin tức và bài viết*/
.list-news[b-exiwmkvlsc] {
    /*border: 1px solid #ff00dc;*/
    width: 75%;
    height: 500px;
}

.layout-list-news[b-exiwmkvlsc] {
    max-width: 260px;
    max-height: 150px;
    overflow: hidden;
}

.img-list-news[b-exiwmkvlsc] {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}