.nav-test[b-5swpb2a07p] {
    border: 1px solid #ff0000
}

.input-search[b-5swpb2a07p] {
    padding: 3px 3px 3px 3px;
    width: 280px;
    height: 50%;
    font-size: 15px;
    background-color: #E5E6ED;
    border-radius: 50px;
    border: none;
}
