.main-layout[b-687od6cswe] {
    position: relative;
}

.snow[b-687od6cswe], .snow[b-687od6cswe]::after, .snow[b-687od6cswe]::before {
    position: absolute;
    top:-650px;
    left:0;
    right:0;
    bottom:0;
    background-image:
        radial-gradient(4px 4px at 100px 50px, #fff, transparent),
        radial-gradient(6px 6px at 200px 150px, #fff, transparent),
        radial-gradient(3px 3px at 300px 250px, #fff, transparent),
        radial-gradient(3px 3px at 300px 250px, #fff, transparent),
        radial-gradient(4px 4px at 400px 350px, #fff, transparent),
        radial-gradient(6px 6px at 500px 100px, #fff, transparent),
        radial-gradient(3px 3px at 50px 200px, #fff, transparent),
        radial-gradient(4px 4px at 150px 300px, #fff, transparent),
        radial-gradient(6px 6px at 250px 400px, #fff, transparent),
        radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;
    animation: snowAnim-b-687od6cswe 3s linear;
    animation-iteration-count: infinite;
    pointer-events: none;
}

    .snow[b-687od6cswe]::after {
        margin-left: -250px;
        opacity: 0.5;
        filter: blur(2px);
        animation-direction: reverse;
        animation-duration: 6s;
    }

    .snow[b-687od6cswe]::before {
        margin-left: -350px;
        opacity: 0.7;
        filter: blur(1px);
    }

    @keyframes snowAnim-b-687od6cswe {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(650px);
        }
    }

    .page[b-687od6cswe] {
        position: relative;
        display: flex;
        flex-direction: column;
    }

main[b-687od6cswe] {
    flex: 1;
}

.sidebar[b-687od6cswe] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-687od6cswe] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-687od6cswe]  a, .top-row[b-687od6cswe]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-687od6cswe]  a:hover, .top-row[b-687od6cswe]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-687od6cswe]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-687od6cswe] {
        justify-content: space-between;
    }

    .top-row[b-687od6cswe]  a, .top-row[b-687od6cswe]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-687od6cswe] {
        flex-direction: row;
    }

    .sidebar[b-687od6cswe] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-687od6cswe] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-687od6cswe]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-687od6cswe], article[b-687od6cswe] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.cay-thong[b-687od6cswe] {
    position: fixed;
    margin-top: 440px;
}

.cay-thong-img[b-687od6cswe] {
    width: 150px;
    height: 200px;
}