/*SET THE DEFAULT FONT*/
#TestId[b-brko2uthui] {
    font-family: "MS Gothic";
    font-size: 18px;
    height: 375px;
}

/*DEFINE ALL OF THE CUSTOM FONTS*/
.ql-font-MSGothic[b-brko2uthui] {
    font-family: 'MS Gothic';
}

.ql-font-Bahnschrift[b-brko2uthui] {
    font-family: 'Bahnschrift'
}

.ql-font-Impact[b-brko2uthui] {
    font-family: 'Impact';
}

.ql-font-Courier[b-brko2uthui] {
    font-family: 'Courier';
}

.ql-font-Comic[b-brko2uthui] {
    font-family: 'Comic Sans MS';
}

.layout-text-editor[b-brko2uthui] {
    height: 500px;
}

.input-layout[b-brko2uthui] {
    outline: none;
    border: 2px dashed #1C6DD0;
    margin: 3px;
    padding-left: 5px;
    height: 30px;
}

.form[b-brko2uthui] {
    border: 2px solid #1C6DD0;
    border-radius: 12px;
    padding: 12px;
}

.img-post[b-brko2uthui] {
    border-radius: 12px;
}