.spinner[b-0z84csx8x2] {
    border: 16px solid #F3F8FF;
    border-top: 16px solid #1570EF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin-b-0z84csx8x2 700ms linear infinite;
    top: 230px;
    left: 750px;
    position: absolute;
}

@keyframes spin-b-0z84csx8x2 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.progress[b-0z84csx8x2] {
    border-radius: 10px;
}

.progress-bar[b-0z84csx8x2] {
    width: 100%;
    animation: progress-b-0z84csx8x2 1s;
}

@-webkit-keyframes progress {
    0% {
        width: 0;
    }
}

@keyframes progress-b-0z84csx8x2 {
    0% {
        width: 0;
    }
}