body[b-k5hfqs12ar] {
    background-color: #f8f9fa;
}

.login-container[b-k5hfqs12ar] {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.login-form[b-k5hfqs12ar] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .login-form h2[b-k5hfqs12ar] {
        color: #1570EF;
    }

    .login-form .form-control[b-k5hfqs12ar] {
        border-color: #1570EF;
    }

    .login-form .btn-primary[b-k5hfqs12ar] {
        background-color: #1570EF;
        border-color: #1570EF;
    }

        .login-form .btn-primary:hover[b-k5hfqs12ar] {
            background-color: #135cb2;
            border-color: #135cb2;
        }
