.sidebar[b-h8q3btiy7b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.nav-main-admin[b-h8q3btiy7b] {
    width: 15%;
}

.body[b-h8q3btiy7b] {
    width: 85%;
}


