<footer class="footer container">
    <div class="menu-footer">
        <a href="#">Bài Viết Mới</a>
        <a href="#">Sản Phẩm Công Nghệ Mới</a>
        <a href="#">Công Nghệ Mới</a>
        <a href="#">Game</a>
        <a href="#">Video</a>
    </div>
    <div class="content-footer">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="contact-footer">

    </div>
</footer>