@inject IJSRuntime JSRuntime

@if (GetAllCate == null)
{
    <h5>Is Loading...</h5>
}
else
{
    <div style="background-color: #FFFFFF">
        <nav class="nav-test d-flex justify-content-between align-items-center mx-3 py-3 mb-1 fixed-top">
            <div class="d-flex justify-content-start align-items-center">
                <div class="me-3">
                    <a href="/">
                        <img id="img-logo" src="/logo/logoPass.png" alt="logo" />
                    </a>
                </div>
                <input class="input-search" type="text" placeholder="Tìm kiếm bài viết, bạn bè...">
            </div>
            <div class="logo-text d-flex align-items-center" style="margin-right: 164px;">
                <i class="fa-solid fa-candy-cane" style="font-size: 30px; padding-right: 7px; color: #BB1F2D"></i>
                <a href="/" style="color: #BB1F2D">Merry Christmas</a>
                <i class="fa-solid fa-gifts" style="font-size: 30px; padding-left: 7px; color: #BB1F2D"></i>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <div class="me-3">
                    <a href="box-text-editor"><button class="btn-write">Viết Bài Chia Sẻ</button></a>
                </div>
                <div class="ms-3">Thông Báo</div>
                <div class="ms-3">Tài Khoản</div>
            </div>
        </nav>
    </div>
    <div class="menu-link d-flex container">
        <div class="d-flex align-items-center">
            <i class="icon pb-3 me-1 fa-regular fa-house"></i>
            <a class="me-4 text-decoration-none" href="/"><p>Home</p></a>
        </div>

        <div class="d-flex align-items-center">
            <i class="icon pb-3 me-1 fa-regular fa-chalkboard"></i>
            <a class="me-4 text-decoration-none" href="blog-it"><p>Công Nghệ</p></a>
        </div>
        <div class="d-flex align-items-center">
            <i class="icon pb-3 me-1 fa-regular fa-gamepad"></i>
            <a class="me-4 text-decoration-none" href="blog-game"><p>Game</p></a>
        </div>

        <div class="d-flex align-items-center">
            <i class="fa-regular pb-3 me-1 fa-blog"></i>
            <a class="me-4 text-decoration-none" href="blog-personal"><p>Chia Sẻ Cá Nhân</p></a>
        </div>
        <div class="d-flex align-items-center mb-3">
            <a class="me-4 text-decoration-none" href="blog-it"><button class="color-btn" type="button">TikShort</button></a>
        </div>
    </div>
}



