@inherits LayoutComponentBase
<div class="main-layout">
    @* <div class="snow"></div> *@
    <Header></Header>

    @*Phần Cây Thông *@
@*     <div class="cay-thong">
        <img class="cay-thong-img" src="/images/hinh-anh-canh-hoa-dao-png_102506671.png" alt="cây thông"/>
    </div> *@

    <main>
        <div class="">
            @Body
        </div>
    </main>

</div>
