@inherits LayoutComponentBase
<div>
    <div class="header">
        <Header></Header>
    </div>

    <main>
        <article class="container px-4">
            @Body
        </article>
    </main>
</div>
